    <div class="card mt-5">
        <div class="card-header">
            <h2>Task One</h2>
            <p>
                Write a PHP or Python program to list all the anagrams in the given file.
            </p>
            <ol>
                <li>Input: Sample list of file provided or from UNIX</li>
                <li>Your program will be invoked with exactly one argument which will be the file name for the words file.</li>
                <li>Output: Print a new line separated list of anagrams found in the given file.</li>
                <li>Your program should execute in O(N) time with respect to the length of the words file.</li>
            </ol>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="textfile">Text file to print out</label>
                    <input name="textfile" type="file" class="form-control-file" id="textfile">
                    <span class="help-block text-warning">leave it empty to use default provided file</span>
                </div>
                <button type="submit" class="btn btn-primary mb-2 float-right">Submit</button>
            </form>
        </div>
        <div class="card-footer">
        </div>
    </div>
